/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*base*/
body{
    min-width: 1024px;
    font-family: Arial, Helvetica, sans-serif;
}
/*struttura principale*/
main{
    width: 80%;
    margin: 0 auto;
}

button{
    padding: 5px 10px;
    border-radius: 20%;
}
/*container*/
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

/*header*/
#h_links a{
        margin: 0 15px;
        color: white;
        text-decoration: none;
    }

/*sezione main*/
.vert_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.vert_container h1{
    margin-top: 3rem;
}

.vert_container p{
    margin: 3rem 6rem 1rem 6rem;
}

.vert_container .buttons button{
    margin: 0 10px 3rem 10px;
}

/*colonne di testo*/
.container_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
/*box immagini*/
.img_box{
    width: 200px;
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*FOOTER*/
.footer_top{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-between;
    width: 70%;
}

.footer_column{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.first_column h3{
    margin-bottom: 10px;
}

.footer_column a{
    text-decoration: none;
}

.footer_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 70%;
}

footer{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

hr{
    border-color: white;
}

/*debug*/
.debug header {
            height: 50px;
            background-color: blue;
        }

        .debug * {
            border: 1px dashed;
        }

        .debug main {
            min-height: 450px;
            background-color: pink;
        }

        .debug .vert_container {
            background-color: yellowgreen;
        }

        .debug #middle_articles {
            background-color: gold;
        }

        .debug footer{
            background-color: crimson;
        }

        .debug .img_box{
            background-color: khaki;
        }

